global
    log /dev/log  local0 warning
    chroot      /var/lib/haproxy
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon

   stats socket /var/lib/haproxy/stats

defaults
  log global
  option  httplog
  option  tcplog
  option  dontlognull
        timeout connect 5000
        timeout client 50000
        timeout server 50000

{% for item in haproxy_installation_frontends %}
frontend {{ item.name }}
    {% if item.mode is defined -%}
    mode {{ item.mode }}
    {% if item.mode == "tcp" -%}
    {% endif -%}
    {% endif -%}
    bind {{ item.binds }}
    default_backend {{ item.backend }}

{% endfor %}

{% for item in haproxy_installation_backends %}
backend {{ item.name }}
    {% if item.mode is defined -%}
    mode {{ item.mode }}
    {% if item.mode == "tcp" -%}
    option tcp-check
    {% endif -%}
    {% endif -%}
    balance {{ item.balance_mode }}
    default-server inter 10s downinter 5s rise 2 fall 2 slowstart 60s maxconn 250 maxqueue 256 weight 100
    {% for host in item.endpoints -%}
    server {{ host }}:{{ item.port }} check
    {% endfor %}

{% endfor %}
