global_defs {
  router_id {{ inventory_hostname }}
  vrrp_skip_check_adv_addr
  vrrp_garp_interval 0
  vrrp_gna_interval 0
}

vrrp_script haproxy-check {
  script "killall -0 haproxy"
  interval 2
  weight 2
}

vrrp_instance haproxy-vip {
  state {{ role }}
  priority 100
  interface {{ ansible_facts['default_ipv4']['interface'] }}
  virtual_router_id 60
  advert_int 1
  authentication {
    auth_type PASS
    auth_pass 1111
  }
  unicast_src_ip {{ ansible_host }}
  unicast_peer {
    {% for host in groups['loadbalancers'] -%}
    {% if host != inventory_hostname %}
    {{- hostvars[host]['ansible_host'] }}
    {% endif -%}
    {%- endfor -%}
  }
  virtual_ipaddress {
    {{ haproxy_installation_virtual_ip }}
  }
  track_script {
    haproxy-check
  }
}
