global_defs {
  script_user root
  enable_script_security
  dynamic_interfaces
}

interface_up_down_delays {
  {{ haproxy_installation_keepalived_failover_interface }} 5
}

vrrp_script check_haproxy {
  script "/etc/keepalived/check_health.sh"
  interval 2
  timeout 3
  weight -50
}

vrrp_instance haproxy-vip {
  state {{ haproxy_installation_keepalived_role }}
  priority {{ haproxy_installation_keepalived_priority }}
  interface {{ haproxy_installation_keepalived_failover_interface }}
  virtual_router_id 60
  advert_int 1
  authentication {
    auth_type PASS
    auth_pass {{ haproxy_installation_keepalived_token }}
  }
  unicast_src_ip {{ unicast_ip }}
  unicast_peer {
    {% if haproxy_installation_keepalived_unicast_peers != '' %}
    {%- for host in haproxy_installation_keepalived_unicast_peers %}
    {{ host }}
    {% endfor -%}
    {% else -%}
    {%- for host in ansible_play_hosts_all %}
    {% if host != inventory_hostname %}
    {{ hostvars[host]['ansible_host'] }}
    {% endif -%}
    {% endfor -%}
    {% endif -%}
  }
  virtual_ipaddress {
    {{ haproxy_installation_keepalived_virtual_ip }} dev {{ haproxy_installation_keepalived_virtual_ip_interface }}
  }
  track_script {
    check_haproxy
  }
  {% if haproxy_installation_keepalived_notify_master != "" %}
  notify_master {{ haproxy_installation_keepalived_notify_master }}
  {% endif -%}
}
